/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);


#wrapper{
	position: relative;
	margin: 0 auto;
	width: 921px;
	background-color: #38494f;	
	min-height: 100%;
	overflow: hidden;
}



#topTable{
	width: 100%;
}

#bottomTable{
	width: 100%;
	/* height: 100%; */
	height: 700px;
}

#registerDiv{
	margin-top: 200px;
	width: 400px;
	border: solid;
	color: white;
	margin: 100 auto;
	text-align: center;
}

#registerForm{
	display: inline-block;
	text-align: left;
}

.bottomTableTd{
	border: dotted;
	border-color: white;
	width: 33%;
}

.blockImage{
	height: 118px; 
	width: 100%;
}

#newsBlockParagraph{
	overflow: auto; 
	width: 100%; 
	height: 7em;
	border: solid;
	border-color: white;
}

#blockTitle{
	text-align: center;
}

body {
	/* background: #212121; */
	background-image:url(../images/background.jpg);
	background-size: cover;
	font-size:22px;
	line-height: 32px;
	/* color: #ffffff; */
	word-wrap:break-word !important;
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	}

h1 {
	font-size: 60px;
	text-align: center;
	color: #1aedc2;
}	

h3 {
	font-size: 30px;
	text-align: center;
	color: #1aedc2;
}

h3 a {
	color: #1aedc2;
}

a {
	color: #1aedc2;
}

h1 {
	margin-top: 100px;
	text-align:center;
	font-size:60px;
	font-family: 'Bree Serif', 'serif';
	}

p {
	text-align: center;
}

nav {
	margin: 15px 0;
	background-color: #86cee8;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
	text-align: center;
	}
	
nav ul li {
	display:inline-block;
	background-color: #86cee8;
	}

nav a {
	display:block;
	padding:0 10px;	
	color:#6f7577;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}

nav a:hover { 
	background-color: #000000; 
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}

	
/* Change this in order to change the Dropdown symbol */
/* li > a:after { content:  ' +'; } */
li > a:only-child:after { content: ''; }